{{#paper-card as |card|}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
       {{#text.headline}}Users{{/text.headline}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content}}
    {{#each channelUsers as |channelUser|}}
      <div class="user-container">
        <div class="user-avatar">
          {{#if channelUser.isAdmin}}
            <img id="crown" src="/img/crown.png">
          {{/if}}
          <img src="{{channelUser.user.avatar}}">
        </div>
        <div class="user-name {{if (eq channelUser.user.id session.currentUser.id) "active"}}">
          {{channelUser.user.name}}

          {{#if (eq channelUser.user.id session.currentUser.id)}}
            {{#paper-button onClick=(action "leaveChannel" user) iconButton=true}}{{paper-icon "clear"}}{{/paper-button}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{/card.content}}

{{/paper-card}}
