.sc-channel-users {
  .user-container {
     display: flex;
     flex-direction: row;
     flex: 1;
     align-items: center;
  }

  .user-avatar {
    width: 40px;
    padding-right: 15px;
    img {
      width: 100%;
      border-radius: 30px;
      border: 2px solid #babbbd;
      box-sizing: border-box;
    }
  }

  .user-name {
    width: 100%;
    &.active {
      font-weight: bold;
    }
  }
}
