.sc-channel-users {
  .user-container {
     display: flex;
     flex-direction: row;
     flex: 1;
     align-items: center;
  }

  .user-avatar {
    position: relative;
    width: 40px;
    margin: 7px 15px 3px 0px;
    .avatar {
      width: 100%;
      border-radius: 30px;
      box-sizing: border-box;
    }
  }

  .user-name {
    width: 100%;
    &.active {
      font-weight: bold;
    }
  }

  .user-name small {
    font-size:75%;
  }

  .crown {
    position: absolute;
    width: 130%;
    top: -7px;
    left: -4px;
  }

  .sunglasses {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .user-actions {
    width: 30px;
  }

}
