.sc-channel-users {
  .user-container {
     display: flex;
     flex-direction: row;
     flex: 1;
     align-items: center;
  }

  .user-avatar {
    position: relative;
    width: 40px;
    padding: 10px 15px 10px 0;
    img {
      width: 100%;
      border-radius: 30px;
      box-sizing: border-box;
    }
  }

  .user-name {
    width: 100%;
    &.active {
      font-weight: bold;
    }
  }

  #crown {
    position: absolute;
    width: 36px;
    top: 1px;
    left: -2px;
  }
}
