{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
     <span class="flex"></span>
     <h2>
       {{#link-to 'application'}}SCRUMCOON{{/link-to}}
     </h2>
     <span class="flex"></span>
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
{{outlet}}
