{{#paper-toolbar}}
   {{#paper-toolbar-tools}}
     <span class="flex"></span>
     <h2>
       SCRUMCOON 
     </h2>
     <span class="flex"></span>
   {{/paper-toolbar-tools}}
 {{/paper-toolbar}}
{{outlet}}
